/* {
    border: 1px solid red;
}*/

body {
    display: flex;
    flex-direction: column;
}

ul {
    display: flex;
    list-style-type: none;
    margin-right: 350px;
    gap: 20px;
}

li {
    color: #e5e7eb;
}

a {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
    margin-left: 350px;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 0;
    color: #f9faf8;
}

h2 {
    display: flex;
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
    justify-content: center;
}

h3 {
    display: flex;
    font-size: 28px;
    color: #f9faf8;
    margin-bottom: 0;
}

button {
    background-color: #3882f6;
    border-radius: 8px;
    color: #f9faf8;
    font-size: 20px;
    padding: 5px 20px;
    font-weight: bold;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding-bottom: 50px;
    background-color: #1f2937;
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 150px;
    height: 400px;
    background-color: #1f2937;
}

.hero-text {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-top: 50px;
    margin-right: 50px;
}

.hero-image {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.hero-cat {
    max-width: 400px;
}

.card-title {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 0 50px;
    margin-bottom: 125px;
    flex-wrap: wrap;
}

.cat-card {
    width: 200px;
    border: 5px solid #3882f6;
    border-radius: 8px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 18px;
}

.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 200px;
}

.card-subtext {
    font-size: 18px;
}

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.cta-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    min-height: 150px;
    background-color: #3882f6;
    border-radius: 8px;
}

.cta-text {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.cta-subtext {
    display: flex;
    margin-top: 0;
    padding-bottom: 10px;
    font-size: 20px;
    color: #e5e7eb;
}

.cta-signup {
    display: flex;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    flex-shrink: 0;
}

.container {
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
}

.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 1000px;
    height: 400px;
}

.quote {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.signature {
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
    font-weight: bold;
}

.cta-button {
    border: 2px solid #f9faf8;
}

.hero-button {
    border: 2px solid #3882f6;
}

#hero-subtext {
    color: #e5e7eb;
    font-size: 18px;
}